.venv
.vscode
.env
src/utils/__pycache__/
src/api/__pycache__/

src/api/branch/__pycache__/
src/api/branch/__pycache__/
src/__pycache__/
src/api/employee/__pycache__/
src/api/item/__pycache__/

src/api/item_detail/__pycache__/
src/api/auth/__pycache__/
